
/*Styling for the head of the page*/
.header {
    text-align: center;
    color: rgb(202, 195, 195);
    background: rgb(94, 91, 91);
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: lighter;
}

/*alignment and color of itnro class*/
.intro {
    text-align: center;
    color: rgb(49, 48, 48);
}

/*design for my future goals*/
.article {
    text-align: center;
    list-style-position: inside;
    color: b(49, 48, 48);
}

/*Body backround color*/
body {
    background:rgb(202, 195, 195);

}


/*adjustments to the final part of the body*/
.end {
    text-align: center;
    color: rgb(202, 195, 195);
    background: rgb(105, 102, 102);
    padding: 3px;
}

/*adjusting image to fit*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 300px;
}
/*alignment and styles for links*/
.contact {
    text-align: center;
    list-style-position: inside;
    color: rgb(49, 48, 48);
}

/*Link adjustments*/
a:link {
    color: purple;
  }
  /*Visited*/
  a:visited {
    color: blue;
  }
  /*Hover*/
  a:hover {
    color: orange; 
  }
  /*Focused*/
  a:focus {
    color: red;
  }
  /*Activated*/
  a:active {
    color: green;
  }