.header {
    text-align: center;
    color: rgb(202, 195, 195);
    background: rgb(94, 91, 91);
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: lighter;
}

.intro {
    text-align: center;
    color: rgb(49, 48, 48);
}

.article {
    text-align: center;
    list-style-position: inside;
    color: b(49, 48, 48);
}

body {
    background:rgb(202, 195, 195);

}



.end {
    text-align: center;
    color: rgb(202, 195, 195);
    background: rgb(105, 102, 102);
    padding: 3px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.contact {
    text-align: center;
    list-style-position: inside;
    color: b(49, 48, 48);
}

