/*Styling for the head of the page*/
.header {
    text-align: center;
    color: rgb(241, 241, 241);
    background: rgb(151, 110, 110);
    padding: 5px;
    font-family: Verdana, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: lighter;
    border: 5px solid #555;
    padding: 10px;
}

/*Stylin for the main body*/
.main {
    text-align: center;
    list-style-position: inside;
    color: b(49, 48, 48);
    font-family: Verdana, 'Times New Roman', Times, serif;
}

.article {
    text-align: center;
    list-style-position: inside;
    color: b(49, 48, 48);
    font-family: Verdana, 'Times New Roman', Times, serif;
}

.end {
    text-align: center;
    color: rgb(241, 241, 241);
    background: rgb(151, 110, 110);
    padding: 5px;
    font-family: Verdana, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: lighter;
    border: 5px solid #555;
}

.center {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 150px;
    border: 5px solid #555;
    text-align: center;
}